.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.products li {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  background-color: #eee9e9;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  color: #111827;
}

.products img {
  width: 100%;
  display: block;
  border-radius: 0.5rem;
  height: 200px;
}

.products h3 {
  font-size: 1rem;
}
